FOCUS_Mule_applications/dhss-doe/Source_Code/src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
        <http:listener-config name="HTTP_Listener_Configuration"  host="0.0.0.0" port="${https.port}"  doc:name="HTTP Listener Configuration" protocol="HTTPS" connectionIdleTimeout="120000">
	        <tls:context>
	            <tls:key-store path="clientkeystore.jks" keyPassword="password" password="password"/>
	        </tls:context>
        </http:listener-config>
        
        <apikit:config name="api-config" raml="api.raml"
		consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false"/>
    <flow name="apiFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
    </flow>

	<flow name="get:/ConnectivityTest:api-config">
		<flow-ref name="TestFramework" doc:name="TestFramework"/>	
	</flow>

	<flow name="post:/DuplicatePersonIdentificationService:api-config">
<!--         <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="Q"><![CDATA[%dw 1.0
%output application/java
-
inboundProperties.q]]></dw:set-variable>
        </dw:transform-message>
        <logger message="Param #[flowVars.Q]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
-
{
  "query": flowVars.Q,
  "limit": 10000
}]]></dw:set-payload>
        </dw:transform-message> 
		<http:request config-ref="HTTP_Request_Solr_Configuration" path="${solr.person.core}/select" method="POST" doc:name="HTTP : Query Apache Solr" doc:description="Query Apache Solr to get possible duplicates using Person's LastName and First Name"/>
-->		
		<flow-ref name="duplicate_id_reporting_webserviceFlow" doc:name="duplicate_id_reporting_webserviceFlow"/>
	</flow>

</mule>
